*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #b91450;
}

.div-form{
    height: 50px;
}

.border-radius{
    border-radius: 10px;
}

.bg-gray{
    background-color: #808080;
}

table{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #808080;
    text-align: start;
}

button{
    color: #b91450;
    font-weight: bold;
    margin: 0 5px 0 5px;
    padding: 3px;
    background-color: #cccccc;
    border-radius: 5px;
}

.genera{
    border: 2px solid #ea9143;
}